ROBLOX_API_KEY=

# Use ROBLOX_USER_ID when uploading assets to your own Roblox account.
ROBLOX_USER_ID=

# Use ROBLOX_GROUP_ID instead of ROBLOX_USER_ID when uploading assets to a Roblox group.
ROBLOX_GROUP_ID=
